<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.Properties.Settings.SteamCraftConnectionString"
            connectionString="Data Source=Lynn-PC\PluralDB;Initial Catalog=SteamCraft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>